* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  max-width: 100%;
  font-family: sans-serif;
}
h1 {
  font-size: 3.2rem;
}
.sec1 {
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  margin-top: 7rem;
  display: flex;
  gap: 6rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2rem 2rem 2rem #73797f;
  margin-bottom: 3rem;
}
.khat1 {
  display: flex;
  gap: 6rem;
  justify-content: space-between;
}
.todo-date {
  width: 25rem;
  text-align: center;
}
.todo-date::placeholder {
  display: none;
}
.todo-text::placeholder {
  font-size: 1.6rem;
  text-align: center;
}
.todo-text,
.todo-date {
  border: 2px solid #e67700;
}
.add {
  border: none;
  color: #fff;
  background-color: #e67700;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
}
.todo-text,
.todo-date,
.add {
  font-size: 2rem;
}
.khat2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.khat2 > div,
div > button {
  border: none;
  color: #fff;
  font-size: 2rem;
  border-radius: 1rem;
}
.fart {
  display: flex;
  gap: 1rem;
}
.s {
  padding: 0.5rem 1.4rem;
  background-color: #e67700;
}
.del {
  padding: 0.5rem 0.7rem;
  background-color: red;
}
.sec2 {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;

}
.alert {
  display: flex;
  justify-content: center;
  width: 90%;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem 0rem;
  color: #fff;
}
.alert-warning {
  background-color: red;
}
.alert-ok {
  background-color: rgb(13, 67, 13);
}
.container-table {
  display: flex;
  justify-content: center;
}
table {
  width: 80%;
  /* display: flex;
  flex-direction: column;
  gap: 1rem; */
}

th {
  font-size: 1.8rem;
  background-color: #73797f;
  padding: 0.5rem 7rem;
  color: #fff;
}

.th1 {
  border-top-left-radius: 1rem;
}
.th2 {
  border-top-right-radius: 1rem;
}
.notask {
  font-size: 1.6rem;
  text-align: center;
  background-color: #c0c6cd;
  font-weight: 500;
  padding: 0.5rem;
}
tbody > tr {
  font-size: 1.8rem;
  text-align: center;
}
.task-bt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.task-bt {
  font-size: 2rem;
  border: transparent;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-bt1 {
  background-color: red;
  color: #fff;
}
.task-bt2 {
  background-color: #e67700;
  color: #fff;
}
.task-bt3 {
  background-color: rgb(13, 67, 13);
  color: #fff;
}
.edit{
  display: none;
}
